.about {
  margin-bottom: 50px;
}

.about__title {
  color: var(--white);
  font-size: 47px;
  font-weight: 600;
  line-height: 160%;
}

.about-us {
  margin-bottom: 150px;
}

.about-us__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us__image {
  width: 648px;
  border-radius: 5px;
}

.about-us__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 536px;
  width: 100%;
}

.about-us__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.about-us__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

/* Our */
.our {
  margin-bottom: 150px;
}

.our__inner {
  display: flex;
  gap: 136px;
}

.our__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 536px;
  width: 100%;
}

.our__title {
  color: var(--white);
  font-size: 30px;
  font-weight: 600;
  line-height: 160%;
}

.our__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

/* About__stat */
.about__stat {
  margin-bottom: 150px;
}

.team {
  margin-bottom: 150px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.swiper-slide {
  width: calc(25% - 18px);
}