/* UpLine hero */
.upline-hero {
  background: var(--black);
  padding: 160px 0 50px;
  margin-bottom: 150px;
}

.upline-hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 178px;
}

.upline-hero__body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 648px;
}

.upline-hero__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upline-hero__title {
  color: var(--main);
  font-size: 47px;
  font-weight: 600;
  line-height: 160%;
}

.upline-hero__subtitle {
  color: var(--white);
  font-size: 17px;
  font-weight: 600;
  line-height: 170%;
}

.upline-hero__image {
  width: 536px;
}

.upline-hero__items {
  display: flex;
  gap: 80px;
}

.upline-hero__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.upline-hero__item-image {
  width: 48px;
  height: 48px;
}

.upline-hero__item-text {
  color: var(--txt-2);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

/* Avto */
.avto {
  margin-bottom: 150px;
}

.avto__inner {
  display: flex;
  justify-content: space-between;
}

.avto__image {
  width: 536px;
}

.avto__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 648px;
}

.avto__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.avto__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.avto__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.avto__list {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.avto__list-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.avto__list-item:before {
  content: "";
  width: 10px;
  height: 2px;
  background: var(--main);
}

/* Profit */
.profit {
  margin-bottom: 100px;
}

.profit__inner {
  display: flex;
  justify-content: space-between;
}

.profit__image {
  width: 536px;
}

.profit__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 648px;
}

.profit__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profit__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.profit__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.profit__features {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  width: 536px;
}

.profit__features-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.profit__features-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  background: var(--bg-light);
  padding: 25px 30px;
}

.profit__features-image {
  width: 48px;
  height: 48px;
}

/* Step */
.step {
  margin-top: 100px;
  margin-bottom: 150px;
}

.step__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.step__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 872px;
  text-align: center;
}

.step__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
  max-width: 648px;
}

.step__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.step__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.step__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 200px;
  width: 100%;
}

.step__list-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  background: var(--main);
  box-shadow: 0px 5px 15px 0px rgba(252, 213, 53, 0.20);

  color: var(--bg);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 170%;
}

.step__list-text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
  text-align: center;
}

/* Profit-3 */
.profit-3 {
  margin-bottom: 150px;
}

.profit-3__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.profit-3__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

.profit-3__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.profit-3__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.profit-3__items {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.profit-3__item {
  display: flex;
  gap: 15px;
  width: calc(33% - 18px);
  padding: 25px 35px;
  border-radius: 5px;
  background: var(--bg-light);
}

.profit-3__item-image {
  width: 60px;
  height: 60px;
}

.profit-3__item-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profit-3__item-title {
  color: var(--white);
  font-size: 21px;
  font-weight: 600;
  line-height: 160%;
}

.profit-3__item-text {
  color: var(--txt-2);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

/* Emoji */
.emoji {
  margin-bottom: 150px;
}

.emoji__inner {
  display: flex;
  flex-direction: column;
  gap: 140px;
}

.emoji__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

.emoji__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.emoji__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.emoji__items {
  display: flex;
  flex-wrap: wrap;
  gap: 120px 24px;
}

.emoji__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: calc(33% - 18px);
  height: fit-content;
  padding: 90px 50px 30px 50px;
  border-radius: 5px;
  background: var(--bg-light);
  position: relative;
}

.emoji__item-image {
  position: absolute;
  top: -100px;
  width: 180px;
  height: 180px;
}

.emoji__item-tex {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.emoji__item-link {
  color: var(--main);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
  text-decoration-line: underline;
}

.emoji__item:nth-child(2) {
  margin-top: -40px;
}

.emoji__item:nth-child(5) {
  margin-top: -30px;
}

/* UpLine team */
.upline-team {
  margin-bottom: 150px;
}

.upline-team__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.upline-team__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 872px;
  width: 100%;
  text-align: center;
}

.upline-team__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
  max-width: 648px;
}

.upline-team__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

/* Tarif */
.tarif {
  margin-bottom: 150px;
}

.tarif__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.tarif__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 872px;
  width: 100%;
  text-align: center;
}

.tarif__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.tarif__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.tarif-slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 424px;
  padding: 20px 0 30px 0;
  border-radius: 5px;
  background: var(--bg-light);
  position: relative;
  overflow: hidden;
}

.tarif-slide__head {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
}

.tarif-slide__image {
  width: 120px;
  height: 120px;
}

.tarif-slide__block {
  display: flex;
  flex-direction: column;
}

.tarif-slide__suptitle {
  color: var(--txt-3);
  font-size: 15px;
  font-weight: 400;
  line-height: 170%;
}

.tarif-slide__title {
  color: var(--main);
  font-size: 30px;
  font-weight: 600;
  line-height: 160%;
}

.tarif-slide__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 40px;
}

.tarif-slide__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.tarif-slide__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tarif-slide__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.tarif-slide__list-item:before {
  content: "";
  width: 10px;
  height: 2px;
  background: var(--main);
}

.tarif-slide__footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 40px;
}

.tarif-slide__footer-item {
  display: flex;
  align-items: baseline;
}

.tarif-slide__footer-item::after {
  content: '';
  border-bottom: 2px dotted var(--txt-3);
  flex-grow: 1;
  order: 2;
  margin: 0 5px;
}

.tarif-slide__footer-text {
  color: var(--txt-3);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.tarif-slide__footer-term {
  color: var(--white);
  font-size: 17px;
  font-weight: 600;
  line-height: 170%;
  order: 3;
}

.tarif-slide__footer-price {
  color: var(--white);
  font-size: 30px;
  font-weight: 600;
  line-height: 160%;
  order: 3;
}

.tarif-slide__btn {
  margin: 10px 40px;
}

.btn--tarif {
  width: 100%;
  justify-content: center;
}

.tarif__popular {
  display: flex;
  width: 249.879px;
  transform: rotate(45deg);
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: -18%;
  top: 4%;
  background: linear-gradient(105deg, #6B200F 0%, #CA573E 29.17%, #E2A938 76.56%, #3A2824 100%);
}

.tarif__popular-text {
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  line-height: 170%;
}

/* Cases */
.cases {
  margin-bottom: 150px;
}

.cases__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.cases__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  max-width: 872px;
}

.cases__title {
  max-width: 648px;
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.cases__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.case {
  display: flex;
  gap: 60px;
  width: 100%;
  padding: 40px;
  border-radius: 5px;
  background: var(--bg-light);
}

.case__image {
  width: 50%;
  height: 450px;
  border-radius: 5px;
}

.case__body {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.case__body-title {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 10px;
}

.case__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;

  overflow: hidden;
  max-height: 271px;
  text-overflow: ellipsis;
  white-space: nowrap;

  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.case__item-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.case__item-title {
  color: var(--txt-3);
  font-size: 15px;
  font-weight: 400;
  line-height: 170%;
}

.case__item-text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.case__item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.case__item-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.case__item-item::before {
  content: "";
  width: 10px;
  height: 2px;
  background: var(--main);
}

.case__body-link {
  color: var(--main);
  font-size: 15px;
  font-weight: 400;
  line-height: 170%;
  text-decoration-line: underline;
  margin-bottom: 30px;
}

.cases-slider {
  max-width: 1320px;
  width: 100%;
}

.cases-slider .swiper-slide {
  height: 100%;
}

/* Reviews */
.reviews {
  margin-bottom: 150px;
}

.reviews__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 872px;
  width: 100%;
  text-align: center;
}

.reviews__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
  max-width: 648px;
}

.reviews__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.reviews .swiper-slide {
  height: auto;
}

.reviews__slide {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: var(--bg-light);
  overflow: hidden;
}

.reviews__slide-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.reviews__slide-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 6px 8px;
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  line-height: 170%;
}

.reviews__txt {
  background: #246FE0;
}

.reviews__video {
  background: #F62A2A;
}

.reviews__audio {
  background: #4AB318;
}

.reviews__official {
  background: #111327;
}

.reviews__letter {
  background: #CAB817;
}

.reviews__social {
  background: #BB26D3;
}

.reviews__slide-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  gap: 10px;
}

.reviews__slide-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.reviews__slide-location {
  color: rgba(255, 255, 255, 0.55);
  font-size: 15px;
  font-weight: 400;
  line-height: 170%;
}

.reviews__slide-data {
  color: var(--white);
  font-size: 17px;
  font-weight: 600;
  line-height: 170%;
}

.reviews__slide-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: var(--bg);
}