@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?igzcjc');
  src: url('../fonts/icomoon.eot?igzcjc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?igzcjc') format('truetype'),
    url('../fonts/icomoon.woff?igzcjc') format('woff'),
    url('../fonts/icomoon.svg?igzcjc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ruso:before {
  content: "\e900";
}

.icon-arrow:before {
  content: "\e901";
}

.icon-angle:before {
  content: "\e905";
}

.icon-angle_solid:after {
  content: "\e906";
}

.icon-doc:before {
  content: "\e910";
}

.icon-error-star:before {
  content: "\e911";
}

.icon-gift:before {
  content: "\e912";
}

.icon-gmail:before {
  content: "\e913";
}

.icon-like:before {
  content: "\e916";
}

.icon-micro:before {
  content: "\e919";
}

.icon-phone:before {
  content: "\e91d";
}

.icon-play:before {
  content: "\e920";
}

.icon-plus:before {
  content: "\e921";
}

.icon-telegram:before {
  content: "\e92a";
}

.icon-txt:before {
  content: "\e92d";
}

.icon-viber:before {
  content: "\e92e";
}

.icon-vk:before {
  content: "\e92f";
}

.icon-whatsapp:before {
  content: "\e930";
}

.icon-yb:before {
  content: "\e931";
}