@media (max-width:1268px) {
  .burger {
    display: flex;
  }

  .header .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 100;
    min-width: 100px;
    width: 70%;
    max-width: 375px;
    min-height: 100vh;
    height: 100%;
    padding: 122px 0 50px 0;
    transition: all 0.2s linear;
    overflow-y: scroll;
  }

  .header .nav.show {
    right: 0;
    background: var(--bg);
  }

  .header .nav.show .mobileMenu__contacts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
  }

  .header .nav.show .nav__inner {
    width: 100%;
  }

  .header .nav__list {
    flex-direction: column;
    gap: 0;
  }

  .header .nav__item {
    border-bottom: 1px solid var(--sep);
  }

  .header .nav__link {
    padding: 20px 16px;
  }

  .header .nav__dropdown {
    position: relative;
    top: 0;
    width: 100%;
    max-height: 0;
    border-radius: 0;
  }

  .header .nav__item:hover .nav__dropdown {
    max-height: fit-content;
  }

  .profit-2__items {
    gap: 30px;
  }

  .profit-2__image {
    width: 200px;
    height: 320px;
    left: -15%;
  }

  .container-fluid {
    padding: 0 20px;
  }

  .hero,
  .product,
  .capitel,
  .trade,
  .profit-2,
  .offer {
    margin-bottom: 100px;
  }

  .team {
    margin-bottom: 50px;
  }

  .faq {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .faq__inner {
    gap: 30px;
  }

}

@media (max-width:1100px) {
  .profit-2__image {
    width: 100px;
    height: 165.145px;
    top: -20px;
    left: 10px;
  }

  .profit-2__item {
    padding: 20px 30px 35px 30px;
  }

  .profit-2__item-title {
    margin-left: 90px;
    margin-bottom: 20px;
  }

  .offer__form {
    flex-wrap: wrap;
    gap: 24px;
  }

  .offer__form-label {
    width: calc(50% - 12px);
  }

  .btn--offer {
    width: calc(50% - 12px);
    justify-content: center;
  }
}

@media (max-width:1100px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width:1439px) and (min-width:1185px) {}