:root {
  --white: #fff;
  --sep: #363840;
  --bg: #191A1F;
  --bg-light: #1F2026;
  --black: #13141A;
  --txt-2: #ABADB2;
  --txt-3: #84858C;
  --main: #FCD535;
  --main-hover: #D9AD36;
  --swiper-navigation-size: 11px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: 0;
}

input:focus,
input:focus-visible {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s;
  transition: background-color 0s 600000s, color 0s 600000s;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;

  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--white);
  font-style: normal;

  overflow-x: hidden;
  min-width: 320px;
  background: var(--bg);
  background-image: url(../img/noise.png);
  background-blend-mode: lighten;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding: 18px 50px;
  background: var(--main);
  border-radius: 5px;
  white-space: nowrap;
  color: var(--bg);
  -webkit-box-shadow: 0px 10px 40px -16px rgba(var(--main), 0.60);
  box-shadow: 0px 10px 40px -16px rgba(252, 213, 53, 0.60);
  font-size: 17px;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn:hover {
  background: var(--main-hover);
  box-shadow: none;
}

/* Background Glow */
.glow {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background: var(--main);
  filter: blur(100px);
}

.circle {
  border: 1px solid rgba(255, 255, 255, 0.50);
  border-radius: 50%;
  opacity: 0.3;
}

.hero__image-lightning {
  position: absolute;
  top: 10%;
  left: 33%;
  width: 55px;
  height: 38px;
}

.hero__image-triangle {
  position: absolute;
  bottom: 43%;
  left: 20%;
  width: 30px;
  height: 30px;
}

.hero__image-usd {
  position: absolute;
  bottom: 54%;
  right: 12%;
  width: 18px;
  height: 18px;
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 50px 0 20px;
}

.breadcrumbs__list {
  display: flex;
  gap: 10px;
  color: var(--txt-3);
}

.breadcrumbs__link {
  font-size: 15px;
  font-weight: 400;
  color: var(--txt-3);
}

.breadcrumbs__item+.breadcrumbs__item:before {
  color: var(--txt-3);
  content: "/\00a0";
  padding: 0 5px;
}

.separator {
  width: 100%;
}

.separator::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--black);
}

.separator::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--bg-light);
}

/* Header */
.header {
  background: var(--bg);
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
}

.logo {
  width: 130px;
  height: 34px;
  position: relative;
  z-index: 101;
}

.nav {
  width: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-size: 15px;
  font-weight: 500;
}

.nav__item {
  position: relative;
}

.nav__item:hover .nav__dropdown {
  opacity: 1;
  pointer-events: auto;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2px;
  background: transparent;
  padding: 0;
}

.nav__link::after {
  font-size: 20px;
  transition: transform 0.2s linear;
}

.nav__item:hover .nav__link {
  color: var(--main);
}

.nav__item:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
}

.nav__item:hover:after {
  width: 100%;
  height: 20px;
}

.nav__item:hover .nav__link::after {
  transform: rotate(180deg);
}

.nav__dropdown-link:hover {
  color: var(--main);
}

.nav__dropdown {
  list-style: none;
  width: 220px;
  height: auto;
  background: var(--black);
  border-radius: 5px;
  border: 1px solid var(--sep);
  position: absolute;
  /* top: 100%; */
  top: 45.5px;
  left: 50%;
  z-index: 44;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease 0s;
  -o-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
}

.nav__dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 15px 25px;
}

.nav__dropdown-item {
  padding: 0;
}

.nav__dropdown-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.mobileMenu__contacts {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 101;
}

.phone {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  line-height: 170%;
}

.btn--header {
  padding: 10px 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 15px;
}

.btn--header::before {
  font-size: 22px;
}

.burger {
  display: none;
  justify-content: center;
  align-items: center;
  width: 44px;
  min-width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 5px;
  background: var(--bg-light);
}

.burger.active .burger__item {
  background: transparent;
}

.burger.active .burger__item::before {
  transform: rotate(45deg);
  top: 0;
}

.burger.active .burger__item::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.burger__item {
  font-size: 0;
  background: var(--white);
  width: 15px;
  height: 2px;
  border-radius: 3px;
  position: relative;
  opacity: 1;
  transition: all 0.2s linear;
}

.burger__item::before {
  content: "";
  background: var(--white);
  width: 15px;
  height: 2px;
  border-radius: 3px;
  position: absolute;
  top: -5px;
  left: 0;
  transition: all 0.2s linear;
}

.burger__item::after {
  content: "";
  background: var(--white);
  width: 15px;
  height: 2px;
  border-radius: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.2s linear;
}

/* Hero */
.hero {
  background: var(--black);
  margin: 86px 0 150px;
}

.hero .glow--1 {
  position: absolute;
  top: 223px;
  left: 53px;
  width: 92.5%;
  height: 248.618px;
  transform: rotate(-35.86deg);
  opacity: 0.1;
}

.hero .glow--2 {
  position: absolute;
  top: 192px;
  right: -85px;
  width: 693.826px;
  height: 693.826px;
  transform: rotate(-22.881deg);
  opacity: 0.07;
}

.hero .glow--3 {
  position: absolute;
  top: -125px;
  left: -358px;
  width: 607.821px;
  height: 607.821px;
  transform: rotate(-22.881deg);
  opacity: 0.07;
}

.hero .glow--4 {
  position: absolute;
  top: -224px;
  right: 114px;
  width: 538.605px;
  height: 538.605px;
  transform: rotate(-22.881deg);
  opacity: 0.04;
}

.hero .circle--1 {
  position: absolute;
  top: 328px;
  right: 329px;
  width: 243.972px;
  height: 243.972px;
  transform: rotate(22deg);
}

.hero .circle--2 {
  position: absolute;
  top: 350px;
  right: 389px;
  width: 182.979px;
  height: 182.979px;
  transform: rotate(22deg);
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 150px 0 50px 0;
  position: relative;
  z-index: 10;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  max-width: 1096px;
  margin: 0 auto;
  margin-bottom: 144px;
}

.hero__title {
  font-size: 47px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 20px;
}

.text--color {
  color: var(--main);
}

.hero__subtitle {
  max-width: 648px;
  margin-bottom: 50px;
  font-size: 17px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  width: calc(20% - 19.2px);
}

.hero__item-count {
  color: var(--main);
  font-size: 50px;
  font-weight: 600;
  line-height: 160%;
}

/* Product */
.product {
  margin-bottom: 150px;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.product__image {
  width: 536px;
  height: 343px;
  border-radius: 5px;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 648px;
}

.product__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 15px;
}

.product__subtitle {
  font-size: 17px;
  margin-bottom: 30px;
}

/* Capital */
.capital {
  margin-bottom: 150px;
}

.capital__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.capital__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  max-width: 648px;
}

.capital__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.capital__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
}

.capital__list {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
}

.capital__list-item {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.capital__list-item:before {
  content: "";
  width: 10px;
  height: 2px;
  background: var(--main);
}

.capital__image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 403px;
  height: 579px;
  margin-right: 109px;
}

.capital__image .lazyload {
  position: relative;
  z-index: 2;
}

.capital__image:before {
  content: "";
  position: absolute;
  left: -50%;
  z-index: 1;
  display: block;
  width: 787.522px;
  height: 310.33px;
  transform: rotate(-33.886deg);
  opacity: 0.08;
  border-radius: 50%;
  background: var(--main);
  filter: blur(78.9644775390625px);
}

.capital__image:after {
  content: "";
  position: absolute;
  right: -57px;
  bottom: -50%;
  z-index: 1;
  display: block;
  width: 441px;
  height: 433px;
  opacity: 0.07;
  border-radius: 50%;
  background: var(--main);
  filter: blur(150px);
}

/* Trade */
.trade {
  margin-bottom: 150px;
}

.trade__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.trade__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  max-width: 648px;
}

.trade__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.trade__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
}

.trade__image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 112px;
}

.trade__image .lazyload {
  width: 343px;
  height: 489px;
  position: relative;
  z-index: 2;
}

.trade__image:before {
  content: "";
  position: absolute;
  right: -50%;
  z-index: 1;
  display: block;
  width: 787.522px;
  height: 310.33px;
  transform: rotate(33.886deg);
  opacity: 0.08;
  border-radius: 50%;
  background: var(--main);
  filter: blur(78.9644775390625px);
}

.trade__image:after {
  content: "";
  position: absolute;
  left: -77px;
  bottom: -50%;
  z-index: 1;
  display: block;
  width: 441px;
  height: 433px;
  opacity: 0.07;
  border-radius: 50%;
  background: var(--main);
  filter: blur(150px);
}

/* Profit */
.profit-2 {
  margin-bottom: 150px;
}

.profit-2__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 108px;
}

.profit-2__title {
  color: var(--white);
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
  max-width: 872px;
}

.profit-2__items {
  /* display: flex;
  justify-content: flex-end;
  gap: 136px; */

  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  width: 100%;
}

.profit-2__item {
  padding: 35px 40px 35px 150px;
  border-radius: 5px;
  background: var(--bg-light);
  max-width: 536px;
  position: relative;
}

.profit-2__item-title {
  color: var(--white);
  font-size: 21px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 5px;
}

.profit-2__item-text {
  color: var(--txt-2);
  font-size: 17px;
  font-weight: 400;
}

.profit-2__image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 241px;
  height: 398px;
  position: absolute;
  left: -20%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profit-2__image:before {
  content: "";
  position: absolute;
  top: 76px;
  right: 10px;
  z-index: 1;
  display: block;
  width: 346.282px;
  height: 131.931px;
  transform: rotate(33.886deg);
  opacity: 0.1;
  border-radius: 50%;
  background: var(--main);
  filter: blur(70px);
}

.profit-2__image:after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: -52px;
  z-index: 1;
  display: block;
  width: 179px;
  height: 175px;
  border-radius: 50%;
  background: var(--main);
  opacity: 0.1;
  filter: blur(100px);
}

.profit-2__image .lazyload {
  position: relative;
  z-index: 2;
  width: 100%;
}

/* Offer */
.offer {
  margin-bottom: 150px;
}

.offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  padding: 60px 80px;
  border-radius: 5px;
  background: var(--bg-light);
  position: relative;
  overflow: hidden;
  background-image: url(../img/main/offer-bg-2x.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 252px 65%;
}

.offer__image {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 24px;
  right: 130px;
  z-index: 1;
}

.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  max-width: 588px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.offer__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.offer__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
}

.offer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.offer__form-label {
  width: calc(25% - 18px);
  position: relative;
}

.offer__form-input {
  background: var(--bg);
  border: 0;
  border-radius: 5px;
  padding: 18px 25px;
  width: 100%;
  height: 65px;
  color: var(--txt-3);
  font-size: 17px;
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: transform 0.2s linear;
}

.offer__form-input:hover,
.offer__form-input:focus,
.offer__form-input:active {
  transform: scale(0.98);
}

.offer__form-input.just-validate-error-field {
  background-image: url(../img/error-star.svg);
  background-repeat: no-repeat;
  background-size: 7px;
  background-position: 90% 50%;
}

.btn--offer {
  width: calc(25% - 18px);

  font-size: 17px;
  font-weight: 600;
}

/* Team */
.team {
  margin-bottom: 100px;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.team__title {
  width: 50%;
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.team__text {
  width: 50%;
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: unset;
}

.swiper-slide {
  min-width: 280px;
  height: 420px;
  position: relative;
  z-index: 2;
}

.swiper-slide__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.swiper-slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 34, 41, 0.05)), color-stop(53.48%, rgba(33, 34, 41, 0.05)), to(rgba(33, 34, 41, 0.80)));
  background: -o-linear-gradient(top, rgba(33, 34, 41, 0.05) 0%, rgba(33, 34, 41, 0.05) 53.48%, rgba(33, 34, 41, 0.80) 100%);
  background: linear-gradient(180deg, rgba(33, 34, 41, 0.05) 0%, rgba(33, 34, 41, 0.05) 53.48%, rgba(33, 34, 41, 0.80) 100%);
}

.team__slider-suptitle {
  color: rgba(255, 255, 255, 0.55);
  font-size: 15px;
  font-weight: 400;
}

.team__slider-name {
  color: var(--white);
  font-size: 19px;
  font-weight: 600;
  line-height: 160%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: var(--white);
  padding: 10px;
  color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--main);
  transition: all 0.2s;
}

.swiper-button-prev {
  left: -20px;
}

.swiper-button-next {
  right: -20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  width: 7px;
  height: 11px;
  font-weight: 900;
}

/* FAQ */
.faq {
  margin: 100px 0 150px;
}

.faq__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.faq__content {
  max-width: 424px;
  width: 100%;
}

.faq__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 15px;
}

.faq__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* Accordion */
.accordion__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
  max-width: 760px;
  width: 100%;
}

.accordion__item {
  border-radius: 5px;
}

.accordion__title {
  display: block;
  position: relative;
  margin: 0;
  padding: 25px 40px;
  cursor: pointer;
  color: var(--white);
  font-size: 19px;
  font-weight: 600;
  line-height: 160%;

  background: var(--bg-light);
}

.accordion__title:after,
.accordion__title:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  border-radius: 3px;
  top: 50%;
  right: 20px;
  background: var(--txt-3);
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.accordion__title:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.accordion__active:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.accordion__active:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion__active+.accordion__body {
  max-height: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.accordion__body {
  display: block;
  background: var(--bg-light);
  max-height: 0;
  overflow: hidden;
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
}

.accordion__text {
  padding: 0 50px 25px 40px;
}

/* Footer */
.footer {
  background: var(--black);
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 60px;
  gap: 40px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__content .nav {
  width: auto;
  padding-top: 8px;
}

.footer__content .nav__list {
  gap: 40px;
}

.footer__content .nav__link {
  color: var(--txt-3);
}

.footer__contacts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.footer__contacts .phone {
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  background: var(--bg-light);
  width: 34px;
  height: 34px;
  font-size: 24px;
  color: var(--txt-3);
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
}

.copyright__text {
  color: var(--txt-3);
  font-size: 13px;
  font-weight: 400;
}

.privacy-policy__link {
  color: var(--txt-3);
  font-size: 13px;
  font-weight: 400;
  line-height: 170%;
  text-decoration: underline;
  margin-left: 5px;
}

.copyright__link {
  color: var(--txt-3);
  font-size: 11px;
  margin-left: 5px;
}