:root {
  --white: #fff;

  --bg: #191A1F;
  --bg-light: #1F2026;

  --black: #13141A;

  --txt-2: #ABADB2;
  --txt-3: #84858C;

  --main: #FCD535;
  --main-hover: #D9AD36;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
}

input:focus,
input:focus-visible {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;

  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--white);
  font-style: normal;

  overflow-x: hidden;
  min-width: 320px;
  background: var(--bg);
  background-image: url(../img/noise.png);
  background-blend-mode: lighten;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px 50px;
  background: var(--main);
  border-radius: 5px;
  white-space: nowrap;
  color: var(--bg);
  box-shadow: 0px 10px 40px -16px rgba(var(--main), 0.60);

  font-size: 17px;
  font-weight: 600;

  width: fit-content;
  transition: all 0.2s linear;
}

.btn:hover {
  background: var(--main-hover);
}

/* Header */
.header {
  background: var(--bg);
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
}

.logo {
  max-width: 130px;
  height: 34px;
}

.logo__img {
  width: 100%;
}

.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 30px;
  font-size: 15px;
  font-weight: 500;
}

.nav__item {
  position: relative;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 2px;
  transition: all 0.2s linear;
}

.nav__link:hover {
  color: var(--main);
}

.nav__link:hover .nav__angle {
  transition: all 0.2s linear;
  transform: rotate(180deg);
  fill: var(--main);
}

.nav__link.active .nav__dropdown {
  display: flex;
}

.nav__link span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.nav__angle {
  fill: var(--white);
  width: 11px;
  height: 6px;
}

.nav__dropdown {
  display: none;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  padding: 15px 25px;
  width: 220px;
  background: var(--black);
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -110px;
}

.phone {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 2px;
}

.btn--header {
  padding: 10px 20px;
  box-shadow: none;
  font-size: 15px;
}

.btn--header img {
  width: 24px;
  height: 24px;
}

/* Hero */
.hero {
  background: var(--black);
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0 50px 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1096px;
  margin: 0 auto;
  margin-bottom: 144px;
}

.hero__title {
  font-size: 47px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 20px;
}

.text--color {
  color: var(--main);
}

.hero__subtitle {
  max-width: 648px;
  margin-bottom: 50px;
  font-size: 17px;
}

.hero__list {
  display: flex;
  justify-content: space-between;
}

.hero__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(20% - 19.2px);
}

.hero__item-count {
  color: var(--main);
  font-size: 50px;
  font-weight: 600;
  line-height: 160%;
}

/* Product */
.product {
  margin-top: 150px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}

.product__image {
  width: 536px;
  height: 343px;
  border-radius: 5px;
}

.product__content {
  display: flex;
  flex-direction: column;
  width: 648px;
}

.product__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 15px;
}

.product__subtitle {
  font-size: 17px;
  margin-bottom: 30px;
}

/* Capital */
.capital {
  margin-top: 150px;
}

.capital__inner {
  display: flex;
  align-items: center;
}

.capital__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 160px;
  max-width: 648px;
}

.capital__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.capital__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.capital__list {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.capital__list-item {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.capital__list-item:before {
  content: "";
  width: 10px;
  height: 2px;
  background: var(--main);
}

.capital__image {
  width: 403px;
  height: 579px;
}

/* Trade */
.trade {
  margin-top: 150px;
}

.trade__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.trade__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 217px;
  max-width: 648px;
}

.trade__title {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.trade__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.trade__image {
  width: 343px;
  height: 489px;
}

/* Profit */
.profit {
  margin-top: 150px;
}

.profit__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 108px;
}

.profit__title {
  color: var(--white);
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
  max-width: 872px;
}

.profit__items {
  /* display: flex;
  justify-content: flex-end;
  gap: 136px; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  width: 100%;
}

.profit__item {
  padding: 35px 40px 35px 150px;
  border-radius: 5px;
  background: var(--bg-light);
  max-width: 536px;
  position: relative;
}

.profit__item-title {
  color: var(--white);
  font-size: 21px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 5px;
}

.profit__item-text {
  color: var(--txt-2);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.profit__item-image {
  width: 241px;
  height: 398px;
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translateY(-50%);
}

/* Offer */
.offer {
  margin-top: 150px;
}

.offer__inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 60px 80px;
  border-radius: 5px;
  background: var(--bg-light);

  background-image: url(../img/Main/proc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 86% center;
}

.offer__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 588px;
  width: 100%;
}

.offer__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 160%;
}

.offer__text {
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 170%;
}

.offer__form {
  display: flex;
  justify-content: space-between;
}

.offer__form-input {
  width: calc(25% - 18px);
  background: var(--bg);
  border: 0;
  border-radius: 5px;
  padding: 18px 25px;

  color: var(--txt-3);
  font-size: 17px;
  font-weight: 600;
  line-height: 170%;
}

.btn--offer {
  width: calc(25% - 18px);

  font-size: 17px;
  font-weight: 600;
  line-height: 170%;
}

/* Footer */
.footer {
  margin-top: 150px;
  background: var(--black);
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
  height: 249px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__content .nav {
  width: auto;
  padding-top: 8px;
}

.footer__content .nav__list {
  gap: 40px;
}

.footer__content .nav__link {
  color: var(--txt-3);
}

.footer__contacts {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
}

.footer__contacts .phone {
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
}

.social {
  display: flex;
  gap: 8px;
}

.social-link {
  padding: 5px;
  border-radius: 4px;
  background: var(--bg-light);
  width: 34px;
  height: 34px;
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: var(--txt-3);
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.copyright__text {
  color: var(--txt-3);
  font-size: 13px;
  font-weight: 400;
  line-height: 170%;
}

.copyright__link {
  color: var(--txt-3);
  font-size: 13px;
  font-weight: 400;
  line-height: 170%;
  text-decoration: underline;
  margin-left: 5px;
}

.footer__icon {
  width: 52px;
  height: 11px;
}